/* makes sizing simpler */
*,
*::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input {
  border: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("assets/fonts/Roboto-Bold.ttf");
}

:root {
  /*Color*/
  --primary-Tomato: hsl(4, 100%, 67%);
  --primary-pink: hsl(349, 100%, 66.5%);
  --neutral-Dark-Slate-Grey: hsl(234, 29%, 20%);
  --neutral-Charcoal-Grey: hsl(235, 18%, 26%);
  --neutral-Grey: hsl(231, 7%, 60%);
  --neutral-White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--neutral-Charcoal-Grey);
  display: grid;
  place-items: center;
  grid-template-rows: 1fr;
  font-family: "Roboto";
  font-size: 16px;
  color: var(--neutral-Dark-Slate-Grey);
}
.subs-card-component {
  background-color: var(--neutral-White);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 30px;
  place-items: center;
  padding: 1.5rem;
  gap: 4rem;
}

.subscribe-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 400px;
  padding-left: 40px;
}

h1 {
  font-size: 3.5rem;
  font-family: "Roboto-bold";
}

.description-p {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.description-p p {
  display: flex;
  gap: 1rem;
}

form {
  display: grid;
  row-gap: 1rem;
}

input {
  height: 57px;
  border-radius: 10px;
}

label {
  font-size: 0.8rem;
  font-family: "Roboto-bold";
}

#email {
  padding-left: 1.5rem;
  border: 1px solid var(--neutral-Grey);
}

.submit {
  background-color: var(--neutral-Dark-Slate-Grey);
  color: var(--neutral-White);
  font-family: "Roboto-bold";
}

input:hover {
  cursor: pointer;
}

.submit:hover {
  background-image: linear-gradient(
    to right,
    var(--primary-pink),
    var(--primary-Tomato)
  );
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
